<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <a class="" href="#/user/{{model.userId}}/city/{{model.cityId}}"><span class="glyphicon glyphicon-chevron-left white-glyphicon">
              </span></a>
            <a class=" navbar-text-decor" href="#">
                HAPPY STAY
            </a>

            <ng-switch = model.isOwned>
            <div ng-switch-when=true>
                <a href = "#/user/{{model.userId}}/business" class="">
                    <span class="fa fa-user fa-lg white-glyphicon pull-right">Hi, {{model.user.username}}. Followers - {{model.user.followers.length}}
              </span>
                </a>
            </div>
            <div ng-switch-when=false>
                    <a href="#/user/{{model.userId}}" class="">
                    <span class="fa fa-user fa-lg white-glyphicon pull-right">Hi, {{model.user.username}}. Followers - {{model.user.followers.length}}
                </span>
                    </a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid padding-navbar">
    <div>
        <div class="row">
            <img ng-src="{{model.hotelDetails.img_selected.fs.l}}" width="100%" height="400px">
        </div>
        <div class="row container">
            <div class="col-xs-12 col-lg-6">
                <h1 class="heading-color">Details</h1>
                <h3>{{model.hotelDetails.name}}</h3>
                <br>
                <hr>
                <div class="container">
                    <h2 class="heading-color">Facilities</h2>
                    <div class="row">
                        <i class="fa fa-wifi col-lg-2 col-xs-2" aria-hidden="true"></i>
                        <i class="fa fa-cutlery col-lg-2 col-xs-2" aria-hidden="true"></i>
                        <i class="fa fa-snowflake-o col-lg-2 col-xs-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <h2 class="heading-color">Location</h2>
                    <div class="row">
                        <i class="fa fa-map-marker fa-lg col-xs-2">
                        </i>
                        <label>{{model.hotelDetails.loc.city}}</label>
                    </div>
                    <div class="col-lg-4 col-xs-4" id="map">
                    </div>
                </div>

                <h2 class="ng-binding">
                <div ng-switch="model.isLiked">
                    <span>
                        <div ng-switch-when=true
                             ng-click="model.undoLikeHotel()">
                                <span class="glyphicon glyphicon-heart like-button-color"></span>

                        </div>
                    </span>
                    <span>
                        <div ng-switch-when=false
                             ng-click="model.likeHotel()">
                                <span class="glyphicon glyphicon-heart-empty like-button-color"></span>

                        </div>
                    </span>

                </div>
            </h2>
            </div>

            <div ng-switch="model.user.role == 'OWNER' && model.owned != true">
                <div ng-switch-when= true>
                    <h2 class="heading-color">Own the hotel</h2>
                    <a type="button" class="btn btn-success"
                       href="#/user/city/hotelDetails/business">Own this Hotel</a>
                    </h2>
                </div>
            </div>

            <ol class="comment-list">
                <li ng-repeat="posts in model.Business" class="comment">
                    <article class="comment-body">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <img src="https://secure.gravatar.com/avatar/3e4153bc3fc407dfeca1bce714d933df?s=60&amp;d=mm&amp;r=g" width="60" height="60" alt="" class="avatar avatar-60wp-user-avatar wp-user-avatar-60 alignnone photo avatar-default">
                                <!--div ng-switch=posts._user>
                                    <ng-switch-when=model.userId>
                                        <h3>
                                            <a ng-click = "model.setSecondUser(posts)"
                                                    href="#/owner/{{posts._user}}">{{posts.username}}</a>
                                        </h3>
                                    </div>
                                    <div ng-switch-when!=model.userId>
                                        <h3><span class="glyphicon glyphicon-user"></span>
                                            <a href="#/user1/{{model.userId}}/secondUser/{{posts._user}}">{{posts.username}}
                                            </a>
                                        </h3>
                                    </div>
                                </div-->
                                <div ng-if  = "model.userId == posts._user">
                                <h3>
                                    <a ng-click = "model.setSecondUser(posts)"
                                       href="#/owner">{{posts.username}}</a>
                                </h3>
                                </div>
                                    <div ng-if = "model.userId != posts._user">
                                        <h3><span class="glyphicon glyphicon-user"></span>
                                            <a ng-click = "model.setSecondUser(posts)"
                                               href="#/user1/secondUserProfile">{{posts.username}}
                                            </a>
                                        </h3>
                                    </div>

                            </div><!-- .comment-author -->

                            <div class="comment-metadata">
                                <a href="#">

                                </a>
                            </div><!-- .comment-metadata -->

                        </footer><!-- .comment-meta -->

                        <div class="alert-danger">
                            <div class="card card-inverse card-primary mb-3 text-center">
                                <div class="card-header">
                                    DISCOUNTS
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title"></h4>
                                    <p class="card-text">{{posts.discount}}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    Hurry
                                </div>
                            </div>
                        </div>
                        <!-- .comment-content -->
                        <a ng-show="model.userId == posts._user"
                           ng-click = "model.setBusiness(posts)"
                           href="#/user/city/hotel/business/edit">
                            <span class="fa fa-pencil fa-lg pull-right"></span>
                        </a>

                    </article>
                    <!--<div class="reply"><a rel="nofollow" class="comment-reply-link btn btn-sm btn-default" href="https://indiahikes.com/top-6-winter-treks-in-india-that-you-must-do/?replytocom=908#respond" onclick="return addComment.moveForm( &quot;div-comment-908&quot;, &quot;908&quot;, &quot;respond&quot;, &quot;21636&quot; )" aria-label="Reply to Amit Chaudhary" style="display: inline;">Reply</a></div>			</article>&lt;!&ndash; .comment-body &ndash;&gt;-->
                </li><!-- #comment-## -->
            </ol>
        </div>

        <div class="col-xs-12 col-lg-6">
                <div>
                    <div class="row">
                        <h1 class="heading-color">Reviews</h1>
                        <a type="button" class="btn btn-success"
                           href="#/user/review/new">Add Review</a>
                    </div>
                    <ol class="comment-list">

                        <li ng-repeat="userReview in model.Reviews" class="comment">
                            <article class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="https://secure.gravatar.com/avatar/3e4153bc3fc407dfeca1bce714d933df?s=60&amp;d=mm&amp;r=g" width="60" height="60" alt="" class="avatar avatar-60wp-user-avatar wp-user-avatar-60 alignnone photo avatar-default">
                                        <!--div ng-switch=userReview._user>
                                            <div ng-switch-when=model.userId>
                                                <h3>
                                                    <a href="#/user">{{userReview.username}}</a>
                                                </h3>
                                            </div>
                                            <div ng-switch-when!=model.userId>
                                                <h3><span class="glyphicon glyphicon-user"></span>
                                                    <a href="#/user1/{{model.userId}}/secondUser/{{userReview._user}}">{{userReview.username}}
                                                    </a>
                                                </h3>
                                            </div>
                                        </div-->
                                        <div ng-if = "model.userId == userReview._user">
                                            <h3>
                                                <a href="#/user">{{userReview.username}}</a>
                                            </h3>
                                        </div>
                                        <div ng-if = "model.userId != userReview._user">
                                            <h3><span class="glyphicon glyphicon-user"></span>
                                                <a ng-click = "model.secondReviewUser(userReview)"
                                                   href="#/user1/secondUserProfile">{{userReview.username}}
                                                </a>
                                            </h3>
                                        </div>
                                    </div><!-- .comment-author -->

                                    <div class="comment-metadata">
                                        <a href="#">

                                        </a>
                                    </div><!-- .comment-metadata -->

                                    <!--<star-rating ng-model="rating.rating2" readonly="rating.isReadonly"></star-rating>-->

                                </footer><!-- .comment-meta -->

                                <div class="comment-content">
                                    <p>{{userReview.comment}}</p>
                                </div><!-- .comment-content -->
                                <a ng-show="model.userId == userReview._user"
                                   ng-click = "model.setReview(userReview)"
                                   href="#/user/city/hotelDetails/reviewEdit/">
                                    <span class="fa fa-pencil fa-lg pull-right"></span>
                                </a>

                            </article>
                            <!--<div class="reply"><a rel="nofollow" class="comment-reply-link btn btn-sm btn-default" href="https://indiahikes.com/top-6-winter-treks-in-india-that-you-must-do/?replytocom=908#respond" onclick="return addComment.moveForm( &quot;div-comment-908&quot;, &quot;908&quot;, &quot;respond&quot;, &quot;21636&quot; )" aria-label="Reply to Amit Chaudhary" style="display: inline;">Reply</a></div>			</article>&lt;!&ndash; .comment-body &ndash;&gt;-->
                        </li><!-- #comment-## -->


                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid padding-navbar">
            <div class="col-lg-4 col-xs-12" style="padding:10px" ng-repeat="hotelImage in model.hotelDetails.img">
                <img ng-src="{{hotelImage.l}}" height="200px" width="100%"/>
            </div>
        </div>
    </div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div ng-if = "model.user.role == 'OWNER'">
            <a href="#/owner">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
            </div>
            <div ng-if = "model.user.role == 'CUSTOMER'">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>