<!DOCTYPE html>
<html lang="en" ng-app = "MyHotelApp">
<head>
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="../../css/style.css" rel="stylesheet"/>
    <link href="../../css/textAngular.css" rel="stylesheet"/>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a href="" class="pull-left navbar-brand">HAPPY STAY</a>
            <a href="../../index.html#/login" class="pull-right navbar-brand">Login</a>
            <a href="" class="glyphicon glyphicon-log-in pull-right navbar-brand"></a>
            <a href="../../index.html#/register" class="pull-right navbar-brand">Sign Up</a>
            <a href="" class="glyphicon glyphicon-registration-mark pull-right navbar-brand"></a>
            <a href="../../index.html#/loginAdmin" class="pull-right navbar-brand">Admin</a>
            <a href="" class="glyphicon glyphicon-registration-mark pull-right navbar-brand"></a>

            <!--a href="../../index.html#/search" class="pull-right navbar-brand">Search</a>
            <a href="" class="glyphicon glyphicon-registration-mark pull-right navbar-brand"></a-->
        </div>

    </div>
</nav>
<div id="home-sec" class="image">
    <div class="container"  >
        <div class="row text-center">
            <div class="input-group">
            </div>
        </div>
    </div>
</div>
<div class="container text-center"><br><hr>
    <h2>About</h2>
    <h5>A website to search hotels in cities around the
        world and to see their reviews and to add reviews
        to help others make better choice in finding a place to stay.</h5>
    <br><hr>
</div>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xs-12" style="padding:10px">
                <div class="row text-center"><label>BOSTON</label></div>
                <a href="#/user/{{model.userId}}/city/1735253871019858688"><img src="../../../images/Boston1.jpg" height="200px" width="100%" />
            </a></div>
            <div class="col-lg-4 col-xs-12 col-right" style="padding:10px">
                <div class="row text-center"><label>San Francisco</label></div>

                <a href="#/user/{{model.userId}}/city/8972374504552210638"><img src="../../../images/SanFrancisco.jpg" height="200px" width="100%" />
            </a></div>
            <div class="col-lg-4 col-xs-12" style="padding:10px">
                <div class="row text-center"><label>Miami</label></div>
                <a style="position: relative" href="#/user/{{model.userId}}/city/7584075281880045548"><img src="../../../images/Miami.jpg" height="200px" width="100%" /></a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12 col-right" style="padding:10px">
                <div class="row text-center"><label>New York</label></div>
                <a href="#/user/{{model.userId}}/city/6492440167096287044"><img src="../../../images/NewYork.jpg" height="200px" width="100%"/></a></div>
            <div class="col-lg-4 col-xs-12" style="padding:10px"    >
                <div class="row text-center"><label>Washington</label></div>
                <a href="#/user/{{model.userId}}/city/2575014202605553242"><img src="../../../images/Washington.jpg" height="200px" width="100%"/>
            </a></div>
            <div class="col-lg-4 col-xs-12" style="padding:10px">
                <div class="row text-center"><label>Chicago</label></div>
                <a href="#/user/{{model.userId}}/city/4445976469820650387"><img src="../../../images/Chicago.jpg" height="200px" width="100%"/>
            </a></div>
        </div>
        <br><br>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>