<h2>Business Owned <a href="">
        <span class="glyphicon glyphicon-eye-open follower-button-color"></span>
    </a>
</h2>
    <br>
    <div class="container-fluid">
        <div class="row col-sm-6 well">
            <div ng-switch="model.business_owned.length">

                <div ng-switch-when=0>

                    <div class="well col-sm-8">
                        <p class="bg-info">Sorry you dont own any Hotel!!</p>
                    </div>
                </div>
                <div ng-switch-default>

                    <div ng-repeat="f in model.businessowned">
                        <h3><span class="glyphicon glyphicon-user"></span>
                                <a ng-click = "model.setHotel(f)"
                                        href="#/user/city/hotelDetails/">{{f.hotelName}}</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
