<h2>PROFILE</h2>
<div>
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
</div>
<div class="container-fluid padding-navbar">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" ng-model="model.user.email" class="form-control" id="email" placeholder="email Id">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" placeholder="First name">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" placeholder="Lats Name">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/homepage">Home</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteUser(model.user)">Delete
    </a>
    <a ng-click="model.update(model.user)"
       class="btn btn-success btn-block">
        Update
    </a>
</div>
