<div ng-controller="ProfileController as model">
    <h2>Followers <a href="">
        <span class="glyphicon glyphicon-eye-open follower-button-color"></span>
    </a></h2>

    <br>
    <div class="container-fluid">
        <div class="row col-sm-6 well">
            <div ng-switch="model.followers.length">
                <div ng-switch-when=0>
                    <div class="well col-sm-8">
                        <p class="bg-info">Sorry you have no followers!!</p>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-repeat="f in model.followers">
                        <h3><span class="glyphicon glyphicon-user"></span>
                            <a href="#/user1/{{model.user._id}}/secondUser/{{f._id}}">{{f.firstName}}</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>