<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
                <div class="row">
                        <a class=" navbar-text-decor" href="#">
                                Happy Stay
                        </a>
                        <a href="#/login" class="">
              <span class="glyphicon glyphicon-ok white-glyphicon pull-right">
              </span>
                        </a>
                </div>
        </div>
        </div>
</nav>
<div class="container padding-navbar">
        <div ng-show="register.$invalid && register.$submitted || model.veryPasswordAlert" class="alert alert-danger">
                {{model.alert}}
                There were the following errors in the form:
                <ul>
                        <li ng-show="register.username.$invalid">Username is required</li>
                        <li ng-show="register.password.$invalid">Password is required</li>
                        <li ng-show="model.veryPasswordAlert">{{model.veryPasswordAlert}}</li>
                </ul>
        </div>
        <h1>Register</h1>
        <form name="register" novalidate ng-submit="model.createUser(model.user)">
                <div class="input-group">
                        <div class="input-group-addon">
                                <span class="glyphicon glyphicon glyphicon-user"></span>
                        </div>
                <input type="text"
                       ng-model="model.user.username"
                       class="form-control"
                       placeholder="username" name="username" required/>
                </div>
                <div ng-show="register.username.$invalid && register.$submitted" class="error">Username is required</div>
                <input type="password"
                       ng-model="model.user.password"
                       class="form-control"
                       placeholder="password" name="password" required/>
                <div ng-show="register.password.$invalid && register.$submitted" class="error">Password is required</div>
                <input type="password"
                       ng-model="model.user.veryPassword"
                       class="form-control"
                       placeholder="verify password" name="veryPassword" required/>
                <div ng-show="model.veryPasswordAlert" class="error">Password fields not matching</div>
                <div class="input-group">
                        <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                        </div>
                        <input ng-model="model.user.email" type="email"
                               class="form-control"
                               placeholder="email" name="email"/>
                </div>

                <!--<div ng-show="register.email.$invalid && register.email.$submitted" class="error">Email format is not valid</div>-->
                <div class="input-group">
                        <div class="input-group-addon">
                                <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                <input ng-model="model.user.firstName" type="text"
                       class="form-control"
                       placeholder="First Name" name="FirstName" />
                </div>
                <!--<div ng-show="register.FirstName.$invalid && register.FirstName.$submitted" class="error">First Name is required</div>-->
                <div class="input-group">
                        <div class="input-group-addon">
                                <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                <input ng-model="model.user.lastName" type="text"
                       class="form-control"
                       placeholder="Last Name" name="LastName" />
                </div>
                <!--<div ng-show="register.LastName.$invalid && register.LastName.$submitted" class="error">Last Name is required</div>-->
                <input type="submit" class="btn btn-primary btn-block" value="Register"/></form><br>
        <a class="btn btn-danger  btn-block"
           href="#/login">Cancel</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
                <div class="row">
                        <a href="#/user/{{model.userId}}">
                                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
                        </a>
                </div>
        </div>
</nav>