<nav class="navbar navbar-default navbar-fixed-top">
    <a href=#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget
       class="glyphicon glyphicon-chevron-left navbar-brand pull-left visible-xs">
    </a>
    <a href=#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget
       class="glyphicon glyphicon-ok navbar-brand pull-right">
    </a>
    <div class="navbar-header">
        <a class="navbar-brand no-left-margin">
            Widget Edit
        </a>
    </div>
</nav>

<div class="container-fluid">
        <label for="page-name">Name</label>
        <input class = "form-control"
               id="page-name"/>

        <label for="Text">Text</label>
        <textarea class="form-control"
                  id="Text"></textarea>

        <label for="url">URL</label>
        <input placeholder="https://youtube/uLWLashCXHE"
               class="form-control"
               id="url"/>

        <label for="width">Width</label>
        <input class="form-control"
               id="width"/>

            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <a href = "#/user/{{model.userId}}" class="navbar-link navbar-brand pull-right">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>
