<nav class="navbar navbar-default navbar-fixed-top page-list">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-text pull-right page-text">
            <a ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand">Widget Edit</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
        Text
        <input ng-model="model.widget.text" class="form-control"/>
        Rows
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
        Placeholder
        <input ng-model="model.widget.placeholder" class="form-control"/>
        Formatted
        <input ng-model="model.widget.formatted" type="checkbox"/>
        <div class="form-group">
            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWidget()">Delete</a>
        </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom page-list">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right page-text">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>