<nav class="navbar navbar-default navbar-fixed-top page-list">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-text pull-right page-text">
            <a ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand">Widget Edit</a>
        </div>
    </div>
</nav>

<div class="container-fluid sb-form-padding">
    <form>

                <div ng-model="model.widget.text"
                     text-angular
                     ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
            ['bold','italics','underline','strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
            ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html', 'insertImage','insertLink', 'wordcount', 'charcount']]">
                </div>

            <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom page-list">
    <div class="container-fluid bg-primary">
        <div class="navbar-text pull-right page-text">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>