<nav class="navbar navbar-default navbar-fixed-top page-list">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-text pull-right page-text">
            <a ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand">Widget Edit</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="page-name">Name</label>
    <input class = "form-control"
           id="page-name"/>

    <label for="Text">Text</label>
    <textarea class="form-control"
              id="Text"></textarea>

    <label for="url">URL</label>
    <input placeholder="https://youtube/uLWLashCXHE"
           class="form-control"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           id="width"/>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <a href = "#/user/{{model.userId}}" class="navbar-link navbar-brand pull-right">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>
