<nav class="navbar navbar-default navbar-fixed-top page-list">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-text pull-right page-text">
            <a ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand">Widget Edit</a>
        </div>
    </div>
</nav>



<div class="container-fluid">
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="widget-image-name">Name</label>
            <input ng-model="widget.name"
                   type="text"
                   placeholder="name"
                   class="form-control"
                   id="widget-image-name"/>
        </div>
        <div class="form-group">
            <label for="widget-image-text">Text</label>
            <input ng-model="widget.text"
                   type="text"
                   placeholder="Enter description"
                   class="form-control"
                   id="widget-image-text"/>
        </div>
        <div class="form-group">
            <label for="widget-image-url">URL</label>
            <input ng-model="widget.url"
                   type="url"
                   class="form-control"
                   placeholder="url"
                   id="widget-image-url"/>
        </div>
        <div class="form-group">
            <label for="widget-image-width">Width</label>
            <input ng-model="widget.width"
                   type="text"
                   class="form-control"
                   placeholder="width"
                   id="widget-image-width"/>
        </div>

        <input name="myFile" type="file" class="form-control"/>
        <input name="width" value="{{model.widget.width}}" style="display: none"/>
        <input name="userId" value="{{model.userId}}" style="display: none"/>
        <input name="widgetId" value="{{model.widget._id}}" style="display: none"/>
        <input name="pageId" value="{{model.pageId}}" style="display: none"/>
        <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>

        <div class="form-group">
            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWidget()">Delete</a>
        </div>
    </form>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">

        <a href="#/user/{{model.userId}}" class="navbar-link navbar-brand pull-right">
          <span class="glyphicon glyphicon-user">
          </span>
        </a>

    </div>
</nav>
