<nav class="navbar navbar-default navbar-fixed-top page-list">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid"
     ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">
</div>

<nav class="navbar navbar-default navbar-fixed-bottom page-list">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>

        <div class="navbar-text pull-left page-text srk-left-pad">
            <a href="#">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>

        <div class="navbar-text pull-right page-text srk-left-pad">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>

    </div>
</nav>