<nav class="navbar navbar-default navbar-fixed-top page-list">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right page-text">
            <a href="">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header page-text">
            <a class="navbar-brand">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-switch="model.widget.type">
        <div ng-switch-when="heading">
            <div ng-include="model.getEditorTemplateUrl(model.widget.type)"></div>
        </div>
        <div ng-switch-when="image">
            <div ng-include="model.getEditorTemplateUrl(model.widget.type)"></div>
        </div>
        <div ng-switch-when="html">
            <div ng-include="model.getEditorTemplateUrl(model.widget.type)"></div>
        </div>
        <div ng-switch-when="youtube">
            <div ng-include="model.getEditorTemplateUrl(model.widget.type)"></div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom page-list">
    <div class="container-fluid">
        <div class="navbar-text pull-left page-text">
            <a href="#">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>

        <div class="navbar-text pull-left page-text">
            <a href="#">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>

        <div class="navbar-text pull-right page-text">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>