<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="row">
            <a class="" href="#/user/city/hotelDetails/"><span class="glyphicon glyphicon-chevron-left white-glyphicon">
              </span></a>
            <a class=" navbar-text-decor" href="#">
                Review
            </a>


            <a ng-click="model.addReview(model.userId,model.hotelId,model.review)" class="">
              <span class="glyphicon glyphicon-ok white-glyphicon pull-right">
              </span>
            </a>
        </div>
    </div>
</nav>
<div class="container">

    <div class="padding-navbar div-website-list">
        <form>
            <textarea type="text"
                   ng-model="model.review.comment"
                   class="form-control"
                   placeholder="reviewComment"/>
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white-glyphicon pull-right"></span>
            </a>
        </div>
    </div>
</nav>